@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap');

body {
  /* font-weights: 300, 600, 800 */
  font-family: 'Nunito Sans', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  line-height: 20px;
  font-weight: 600;


  .light {
    font-weight: 300;
  }
}